
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

tr.ListComponent {
    text-align: center;
    height: 35px;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

tr.ListComponent:nth-child(odd) {
    background-color: var(--green-1);
    
}
tr.ListComponent:nth-child(even) {
    background-color: var(--green-2);
}

tr.ListComponent:hover {
    /* background-color: rgb(116, 198, 157); */
    border: solid 1px black;
}

tr.ListComponent td:hover {
    background-color: var(--green-6);
    color: white;
    cursor: pointer;
}
